

.sec-band-col1 {
  h2 {
    font-size: var(--fs-section-title);
    font-weight: var(--fw-bold);
    margin-bottom: 20px;
  }
  color: var(--fc-primary);
  text-align: justify;
  padding: 30px;
}

.sec-band-col2 {
  padding: 30px;
  color: white;
}

.band-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.1;;
}

.sec-band-col1,
.sec-band-col2 {
  z-index: 1;
  color: var(--fc-primary);
  position: relative;
}