.full-width-footer {
  background-color: #000000 !important;
  color: white !important;
  padding: 30px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
  background-color: #000000 !important;
  flex-wrap: wrap;
}

.footer-column {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  flex: 1;
  min-width: 200px;
}

.footer-column a {
  color: white;
  text-decoration: none;
}

.footer-column h3 {
  margin-left: 20px;
}

.footer-column h3 {
  margin: 20px;
  font-size: 1.2rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column img {
  width: 100px;
  height: 100px;
}

.footer-column p {
  margin: 5px 0;
}

.footer-column p a {
  text-decoration: none;
  color: white;
  font-weight: 200;
}

.img-footer {
  background-image: url('../../../public/images/footer-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
  margin: 20px auto;
}

@media screen and (max-width: 768px) {
  .footer-columns {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin: 20px 0;
  }
}

@media screen and (max-width: 480px) {
  .footer-column {
    margin: 10px 0;

    h3 {
      margin: 10px auto;
    }

    a {
      margin: 10px auto;
      text-align: center;
    }
  }

  .footer-column h3 {
    font-size: 1rem;
  }

  .footer-column img {
    width: 80px;
    height: 80px;
  }
}